
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Match</th>
    <th scope="col">Result</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let match of service.matches">
    <th scope="row">{{match.seq}}</th>
    <td><app-flag [match]="match"></app-flag></td>
    <td><input #a type="number" [value]="match.shot || 0">:<input #b type="number" [value]="match.received || 0"></td>
    <td><app-bs-button (click)="save(match, +a.value, +b.value)">Save</app-bs-button></td>
  </tr>
  </tbody>
</table>

